﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../image/concrete_seamless.png);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* custom modifications */
table > thead > tr > th {
    vertical-align: middle!important;
    margin: 100px;
}

table > thead > tr > th:first-child {    
    width: 100px;
}

h1 {
    margin: 30px 0 50px 0;
}

h2 {
    margin: 50px 0 30px 0;
}

.btn {
    margin: 20px 0;
}

.navbar-inverse {
    background-color: #3276b1;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}