﻿@model IEnumerable<string>

@{
    ViewBag.Title = "MapReduce Beispielanwendung";
}

<h1>Konfiguration</h1>

<div class="form-group">
    <label for="ipAddresses">Tragen Sie hier die IPv4 Adressen aller Clients ein.<br />Pro Zeile eine IP-Adresse!</label>
    <textarea class="form-control hresize" rows="6" id="ipAddresses"></textarea>
    <button id="submitIpAddresses" class="btn btn-primary">IP-Adressen abspeichern</button>
    <div id="success"></div>
</div>

<script>
    $(document).ready(function () {
        $("#success").hide();

        var ipAddresses = @Html.Raw(Json.Encode(Model));

        $("#ipAddresses").text(ipAddresses.join("\n"));
    });

    $("#submitIpAddresses").on("click", function (e) {
        e.preventDefault();
        $("#success").hide();

        var target = '@Url.Action("SaveIpAddresses", "Config")';
        var ipAddressesValue = $("#ipAddresses").val();
        $.ajax({
            type: "POST",
            url: target,
            data: { ipAddresses: ipAddressesValue },
            success: function (response) {
                if (response[0] == true) {
                    $("#success").text("IP-Adressen erfolgreich abgespeichert");
                    $("#ipAddresses").text(response[1].join("\n"));
                }
                else {
                    $("#success").text("IP-Adressen konnten nicht abgespeichert werden");
                }
                $("#success").show();
            },
            error: function (response) {
                $("#success").text("IP-Adressen konnten nicht abgespeichert werden");
                $("#success").show();
            }
        });
    });
</script>