﻿@using Models
@model IEnumerable<SchoolClass>
@{
    ViewBag.Title = "MapReduce Beispielanwendung";
}

<h1>Übersicht mit MapReduce</h1>

<form class="form-inline">
    <div class="form-group">
        <button id="myButton" class="btn btn-primary">Zähle alle weiblichen Schüler</button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span id="femaleStudentsText">Anzahl aller weiblichen Schüler: </span>
        <span id="contentHolder"></span>
        <span id="femaleStudentsTime"> - Benötigte Zeit: </span>
        <span id="femaleStudentsTimeContent"></span>
    </div>
</form>

<form class="form-inline">
    <div class="form-group">
        <input id="nachname" name="nachname" class="form-control" placeholder="Nachname eingeben">
        <span>&nbsp;&nbsp;&nbsp;</span>
        <button id="myButton2" class="btn btn-primary">Suche nach Nachnamen</button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span id="lastNameText">Alle Leute mit gesuchten Nachnamen: </span>
        <span id="contentHolder2"></span>
        <span id="lastNameTime"> - Benötigte Zeit: </span>
        <span id="lastNameContent"></span>
    </div>
</form>

<form class="form-inline">
    <div class="form-group">
        <button id="myButton3" class="btn btn-primary">Zähle alle minderjährigen Schüler</button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span id="minorText">Anzahl aller minderjährigen Schüler: </span>
        <span id="contentHolder3"></span>
        <span id="minorTime"> - Benötigte Zeit: </span>
        <span id="minorContent"></span>
    </div>
</form>

    <h2>Die ersten 500 Klassen: </h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center">Name der Klasse</th>
                    <th class="text-center">Zimmername</th>
                    <th class="text-center">Stockwerk</th>
                    <th class="text-center">Flur</th>
                    <th class="text-center">Schüler in der Klasse</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SchoolClass schoolClass in Model.Take(500))
                {
                    <tr>
                        <td>
                            @schoolClass.NameOfClass
                        </td>
                        <td>
                            @schoolClass.RoomName
                        </td>
                        <td>
                            @schoolClass.BuildingNumber
                        </td>
                        <td>
                            @schoolClass.Floor
                        </td>
                        <td>
                            @String.Join(", ", schoolClass.Students.Select(x => x.FirstName + " " + x.LastName))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

<script>
    $(document).ready(function () {
        $("#femaleStudentsText").hide();
        $("#lastNameText").hide();
        $("#minorText").hide();
        $("#femaleStudentsTime").hide();
        $("#lastNameTime").hide();
        $("#minorTime").hide();

        $("#contentHolder").empty();
    });

    $("#myButton").on("click", function (e) {
        e.preventDefault();
        $("#femaleStudentsText").hide();
        $("#contentHolder").text(" ");
        $("#femaleStudentsTime").hide();
        $("#femaleStudentsTimeContent").text(" ");

        var target = '@Url.Action("FemaleStudentsCount", "Home")';
        $.ajax({
            type: "POST",
            url: target,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#femaleStudentsText").show();
                $("#contentHolder").text(response[0].toLocaleString());
                $("#femaleStudentsTime").show();
                $("#femaleStudentsTimeContent").text(response[1].toFixed(4) + " Sekunden");
            },
            error: function (response) {
                //console.log(error);
            }
        });
    });

    $("#myButton2").on("click", function (e) {
        TriggerLastNameSearch(e);
    });

    function TriggerLastNameSearch(e) {
        e.preventDefault();
        $("#lastNameText").hide();
        $("#contentHolder2").text(" ");
        $("#lastNameTime").hide();
        $("#lastNameContent").text(" ");

        var target = '@Url.Action("SearchAfterLastname", "Home")';
        var nachnameValue = $("#nachname").val();
        $.ajax({
            type: "POST",
            url: target,
            data: { searchName: nachnameValue },
            success: function (response) {
                $("#lastNameText").show();
                $("#contentHolder2").text(response[0].toLocaleString());
                $("#lastNameTime").show();
                $("#lastNameContent").text(response[1].toFixed(4) + " Sekunden");
            },
            error: function (response) {
                alert("Kein Suchname eingegeben");
            }
        });
    };

    $("#myButton3").on("click", function (e) {
        e.preventDefault();
        $("#minorText").hide();
        $("#contentHolder3").text(" ");
        $("#minorTime").hide();
        $("#minorContent").text(" ");

        var target = '@Url.Action("MinorStudents", "Home")';
        $.ajax({
            type: "POST",
            url: target,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#minorText").show();
                $("#contentHolder3").text(response[0].toLocaleString());
                $("#minorTime").show();
                $("#minorContent").text(response[1].toFixed(4) + " Sekunden");
            },
            error: function (response) {
                //console.log(error);
            }
        });
    });

    $('#nachname').keydown(function (e) {
        if (e.keyCode == 13) {
            TriggerLastNameSearch(e);
        }
    });
</script>