﻿<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Steinam</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("MapReduce Beispielanwendung - Server", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Übersicht mit MapReduce", "Index", "Home")</li>
                        <li>@Html.ActionLink("Übersicht ohne MapReduce", "Index", "NonMapReduce")</li>
                        <li>@Html.ActionLink("Konfiguration", "Index", "Config")</li>
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @if (DateTime.Now.Year == 2016)
                {
                    <p>&copy; @DateTime.Now.Year Freudinger, Golunski & Brenner (11FI1 - Schuljahr 2015/2016)</p>
                }
                else
                {
                    <p>&copy; 2016 - @DateTime.Now.Year Freudinger, Golunski & Brenner (11FI1 - Schuljahr 2015/2016)</p>
                }
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>